@import "../../shared";

.shrinkable-list-container {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  min-height: 80vh;
}

.main-list {
  margin: 0 1rem;
  list-style-type: none;
  text-align: center;
  flex-grow: 1;
  transition: flex-grow 1s ease-in;

  /*   &.shrinked {
    //flex-grow: 0;
    //transition: flex-grow 1s ease-out;
  } */
}

.input-box {
  background-color: $palette-soft-background;
  border-bottom: 3px ridge $palette-main-text;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0.25rem 1rem;
  margin: 1rem auto;
}

/* Animation slide in/out detail panel */
.slide-enter {
  opacity: 0;
  max-width: 0;
  transform: translateX(300%);
}

.slide-enter-active {
  opacity: 1;
  max-width: 100%;
  transform: translateX(0);
  transition: all 750ms ease-out, opacity 1s linear;
}
.slide-enter-done {
  transform: translateX(0);
}

.slide-exit {
  transform: translateX(0);
  max-width: 100%;
  opacity: 1;
}
.slide-exit-active {
  max-width: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease-out, opacity 250ms linear;
}
