@import "../../shared";

.shrinkable-list-container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 50vh;
  ul {
    margin: 0;
    list-style-type: none;

    text-align: center;

    flex-grow: 1;
  }
}

.input-box {
  background-color: $palette-soft-background;
  border-bottom: 3px ridge $palette-main-text;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0.25rem 1rem;
  margin: 1rem auto;
}

.detail-panel {
  border-left: 5px solid $palette-alt-general;
  padding: 1rem;
  margin-top: 2rem;
}

/* Animation slide in/out detail panel */
.slide-enter {
  flex-grow: 0;
  opacity: 0;
}
.slide-enter-active {
  flex-grow: 3;
  opacity: 1;
  transition: all 800ms ease-out;
}
.slide-enter-done {
  flex-grow: 3;
}
.slide-exit {
  flex-grow: 3;
}
.slide-exit-active {
  flex-grow: 0;
  opacity: 0;
  transition: all 800ms ease-out;
}
