@import "../../shared";

textarea {
  resize: none;
}

.dynamic-list {
  list-style-type: none;
  input {
    border-bottom: 3px ridge $palette-alt-lighter;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-right: 1rem;
  }
}

.dynamic-list-element {
  display: flex;
  justify-content: space-between;
}

.form-section {
  min-width: 300px;
  padding: 1rem;

  &:nth-child(1) {
    background-color: $palette-soft-bad;
  }
  &:nth-child(3) {
    background-color: $palette-soft-good;
  }
}

.form-select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}

.checkbox-group {
  justify-content: space-evenly;
}

.form-label {
  text-align: start;
  margin-left: 1rem;
}
