@import "../../shared";

nav {
  padding: 1rem;
  background-color: $palette-inverse-background;
  color: $palette-inverse-text;
  a {
    margin: auto 1rem;
  }
}

.navbar-section {
  color: $palette-inverse-text;
  background-color: $palette-inverse-background;
}
