@import "../../shared";

/*********** general tag selector ****************/

form {
  width: 80%;
  max-width: 960px;
  margin: 10vh auto;
  border: 1px solid $palette-hard-general;
  border-radius: 20px;
  background-color: $palette-alt-lighter;
}

textarea {
  resize: none;
}

/*************** general classes *****************/

.form-label {
  text-align: start;
  margin-left: 1rem;
}

.form-section {
  padding: 1rem;
  border-radius: 5px;

  &.columns {
    margin: 0;
  }

  &:nth-child(2) {
    background-color: $palette-soft-warn;
  }
}

.form-select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;

  &:invalid {
    color: $palette-grayed-general;
  }
}

/******* form dynamic lists [add/remove] *********/
.dynamic-list {
  list-style-type: none;
  margin: 0;
  input {
    border-bottom: 3px ridge $palette-alt-lighter;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-right: 1rem;
  }
}

.dynamic-list-element {
  display: flex;
  justify-content: space-between;
}

.toast {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  h5 {
    text-align: center;
  }
}

.role-list {
  list-style-type: none;
  margin: 0;
}

/**************** submit button ******************/
form > button {
  width: 100%;
  margin: 2rem auto;
}

/*************** error appearance ***************/
.error-notification {
  margin: auto;
  max-width: 400px;
  text-align: center;
  font: 500 1.2rem Arial;
}
.error-notification-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.error-notification-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.error-notification-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.error-notification-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}

/*************** form specific ******************/

.checkbox-group {
  justify-content: space-evenly;
}

.avatar-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: 2rem;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .file-input {
    overflow: hidden;
  }
}
