@import "../../shared";

textarea {
  resize: none;
}

.dynamic-list {
  list-style-type: none;
  margin: 0;
  input {
    border-bottom: 3px ridge $palette-alt-lighter;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-right: 1rem;
  }
}

.dynamic-list-element {
  display: flex;
  justify-content: space-between;
}

.form-section {
  min-width: 300px;
  padding: 1rem;

  &:nth-child(1) {
    background-color: $palette-soft-bad;
  }
  &:nth-child(3) {
    background-color: $palette-soft-good;
  }
}

.form-select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-label {
  text-align: center;
}

select:invalid {
  color: #999;
}

.toast {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  h5 {
    text-align: center;
  }
}

.role-list {
  list-style-type: none;
  margin: 0;
}

.form-section > button {
  float: right;
}

form > button {
  width: 100%;
  margin: 2rem auto;
}
